@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');
@font-face {
  font-family: 'BULKYPIX';
  font-weight: 5;
  src: local('BULKYPIX'), url('../../fonts/BULKYPIX.ttf') format('truetype');
}

:root {
  --color-bkg-main: #22262b;
  --color-bkg-light: #2F383D;
  --color-bkg-bright: #5E6970;
  --color-bkg-highlight: #D8E1EA;
  --color-shadow-main: rgba(0,10,15,.75);
  --color-shadow-faded: rgba(0,10,15,.1);
  --color-background: #FFFFFF;
  --color-primary: rgba(0,167,194,1);
  --color-primary-dark: rgb(0,120,175);
  --color-primary-faded: rgba(0,167,194,.25);
  --color-confirm: rgb(32,221,149);
  --color-confirm-faded: rgba(32,221,149,.25);
  --color-confirm-dark: rgb(14,135,114);
  --color-reject: #F25266;
  --color-reject-faded: #F2526655;
  --color-reject-dark: #932024;

  --color-text-darkest: #1C1A18;
  --color-text-dark: #4C4744;
  --color-text-mid: #BAB4AE;
  --color-text-light-faded: #d8d2cb55;
  --color-text-light: #d8d2cb;

  --font-header: 'BULKYPIX', sans-serif;
  --font-button: 'Karla', sans-serif;
  --font-main: 'Karla', sans-serif;
  --font-input: 'Karla', sans-serif;
}

.layer-drag-path {
  fill: var(--color-shadow-main);
}

.logReg-title {
  margin: 0;
  color: var(--color-confirm);
  font-family: var(--font-header);
  font-size: 48px;
}

.bkg-scales {
  background-color: #22262b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2322262b' cx='50' cy='0' r='50'/%3E%3Cg fill='%23252b33' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2328313b' cx='50' cy='100' r='50'/%3E%3Cg fill='%232a3643' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c3c4b' cx='50' cy='200' r='50'/%3E%3Cg fill='%232e4253' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2330485b' cx='50' cy='300' r='50'/%3E%3Cg fill='%23324e64' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2333546d' cx='50' cy='400' r='50'/%3E%3Cg fill='%23335a75' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2334607e' cx='50' cy='500' r='50'/%3E%3Cg fill='%23346787' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23336d90' cx='50' cy='600' r='50'/%3E%3Cg fill='%23327499' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23317aa2' cx='50' cy='700' r='50'/%3E%3Cg fill='%232e81ab' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%232b88b4' cx='50' cy='800' r='50'/%3E%3Cg fill='%23268fbd' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%231f96c7' cx='50' cy='900' r='50'/%3E%3Cg fill='%23159dd0' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300a4d9' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}


body {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 4px -2px var(--color-shadow-main);
  transition: all .2s;
  outline: none;
  font-family: var(--font-button);
  font-size: 16px;
  font-weight: lighter;

  color: var(--color-text-light);
  background-color: var(--color-text-light-faded);
  border: 1px solid var(--color-text-light);
}

button:hover {
  cursor: pointer;
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  box-shadow: 0 6px 8px -4px var(--color-shadow-main);
}

.button-confirm {
  background-color: var(--color-confirm-faded);
  color: var(--color-confirm);
  border: 1px solid var(--color-confirm-dark);
}
.button-confirm:hover {
  background-color: var(--color-confirm);
  color: var(--color-confirm-dark);
  border: 1px solid var(--color-confirm);
}

.button-primary {
  background-color: var(--color-primary-faded);
  color: var(--color-primary);
  border: 1px solid var(--color-primary-dark);
}
.button-primary:hover {
  background-color: var(--color-primary);
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary);
}

.button-reject {
  background-color: var(--color-reject-faded);
  color: var(--color-reject);
  border: 1px solid var(--color-reject-dark);
}
.button-reject:hover {
  background-color: var(--color-reject);
  color: var(--color-reject-dark);
  border: 1px solid var(--color-reject);
}


#edit-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "preview layers"
    "details layers";
  grid-template-columns: 1fr 256px;
  grid-template-rows: 1fr 150px;
}

.details-widget {
  background-color: var(--color-bkg-bright);
  border-radius: 16px;
  height: 100%;
  padding: 8px;
  box-sizing : border-box;
}

.details-input {
  height: 16px;
  text-align: center;
  font-family: var(--font-input);
  color: var(--color-text-darkest);
  background-color: white;
  border-radius: 16px;
  outline: none;
  border: none;
  box-shadow: inset 0 2px 2px 0px var(--color-shadow-main);
}

.details-input:focus {
  border-bottom: 1px solid white;
}

.input-with-unit {
  padding-right: 30px;
  text-align: right;
  box-sizing: border-box;
}
.input-unit {
  color: var(--color-text-mid);
  margin-left: -25px;
  font-family: var(--font-input);
  font-size: 12px;
  box-sizing: border-box;
}

input {
  color: var(--color-text-dark);
  font-family: var(--font-input);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  
}

input[type=number] {
  -moz-appearance:textfield;
}

select {
  text-align: center;
  border: none;
  outline: none;
  color: var(--color-text-darkest);
  font-family: var(--font-input);
}