@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla|Mukta&display=swap');

:root {
  --color-bkg-main: rgb(69,77,84);
  --color-bkg-light: #737D82;
  --color-bkg-bright: #ACBDBF;
  --color-bkg-highlight: #D8E1EA;
  --color-shadow-main: rgba(16,25,34,.75);
  --color-shadow-faded: rgba(16,25,34,.1);
  --color-background: #FFFFFF;
  --color-primary: rgba(0,167,194,1);
  --color-primary-dark: rgb(0,120,175);
  --color-primary-faded: rgba(0,167,194,.25);
  --color-confirm: rgb(32,221,149);
  --color-confirm-dark: rgb(20,186,155);
  --color-reject: #F25266;
  --color-reject-dark: #CC2C32;

  --color-text-dark: #6C667A;
  --color-text-mid: #B1A9C9;
  --color-text-light: #D8D0EF;

  --font-header: 'Mukta', sans-serif;
  --font-button: 'Karla', sans-serif;
  --font-main: 'Karla', sans-serif;
  --font-input: 'Karla', sans-serif;
}

.layer-drag-path {
  fill: var(--color-shadow-main);
}


body {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 4px -2px var(--color-shadow-main);
  transition: all .2s;
  outline: none;
  font-family: var(--font-button);
  font-size: 16px;
  font-weight: lighter;
  color: var(--color-text-dark);
  background-color: var(--color-bkg-bright);
}

button:hover {
  cursor: pointer;
  background-color: var(--color-bkg-highlight);
  box-shadow: 0 6px 8px -4px var(--color-shadow-main);
}

.button-confirm {
  background-color: var(--color-confirm-dark);
  color: white;
}
.button-confirm:hover {
  background-color: var(--color-confirm);
}

.button-reject {
  background-color: var(--color-reject-dark);
  color: white;
}
.button-reject:hover {
  background-color: var(--color-reject);
}


#edit-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "preview layers"
    "details layers";
  grid-template-columns: 1fr 256px;
  grid-template-rows: 1fr 150px;
}


.details-widget {
  background-color: var(--color-bkg-light);
  border-radius: 16px;
  height: 100%;
  padding: 8px;
  box-sizing : border-box;
}

.details-input {
  height: 16px;
  text-align: center;
  font-family: monospace;
  background-color: white;
  border-radius: 16px;
  outline: none;
  border: none;
  box-shadow: inset 0 2px 2px 0px var(--color-shadow-main);
}

.details-input:focus {
  border-bottom: 1px solid white;
}

#details-frame-main {
  grid-area: main;
  margin-left: 8px;
}

#details-frame-main table {
  width: 100%;
}
#details-frame-main table tr td:first-child {
  width: 100px;
  text-align: right;
}
#details-frame-main table input {
  width: 64px;
  box-sizing : border-box;
}




#details-layer-main {
  grid-area: main;
  margin-right: 8px;
}
#details-layer-main table {
  width: 100%;
}
#details-layer-main table input,
#details-layer-main table select {
  width: 100%;
}
#details-layer-main tr td:first-child {
  width: 96px;
}

#details-layer-filters {
  
}

#details-layer-filter-box {
  
}

.addFilter-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.25);
}

.input-with-unit {
  padding-right: 25px;
  text-align: right;
}
.input-unit {
  color: var(--color-text-mid);
  margin-left: -25px;
  font-family: var(--font-input);
  font-size: 12px;
}

input {
  color: var(--color-text-dark);
  font-family: var(--font-input);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}