body {
  margin: 0;
  padding: 0;
}

#edit-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "preview layers"
    "details layers";
  grid-template-columns: 1fr 256px;
  grid-template-rows: 1fr 128px;
}

#edit-window-preview {
  background-color: #333;
  grid-area: preview;

  position: relative;
  display: flex;
  align-items: center;
}

#edit-window-layers {
  background-color: #777;
  grid-area: layers;
}

#edit-window-details {
  background-color: #888;
  grid-area: details;

  padding: 4px;
}

#preview-bar {
  width: 100%;
  height: 48px;
  background-color: rgba(0,0,0,.25);
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  grid-template-areas: "main return";
  grid-template-columns: 1fr 150px;
  align-items: center;
}

#preview-bar-main {
  display: flex;
  justify-content: flex-start;
}

.layer-widget {
  background-color: #BBB;
  height: 64px;
  margin: 4px 0;
  display: grid;
  grid-template-areas: "move main delete";
  text-align: center;
  align-items: center;
}

.layer-widget-move-box {
  grid-area: move;
}
.layer-widget-move-box button {
  display: block;
  margin: 0 auto;
}

.layer-widget-main-box {
  grid-area: main;
}
.layer-widget-main-box p {
  margin: 0;
}

.layer-widget-delete-box {
  grid-area: delete;
}

.details-widget {
  background-color: #BBB;
  height: 100%;
}

